{% extends 'backoffice/base.html.twig' %}

{% block searchBar %}
    {% if app.request.method == 'POST' %}
        <div>
            {% if actors | length == 0 %}
                <h4>Aucun résulat pour votre recherche.</h4>
            {% else %}
                <h3 class="mt-3">Vos résulats de recherche :</h3>
                {% for actor in actors %}
                    <div class="mt-3 p-3 bg-light border rounded">
                        <a href="{{ path('backoffice_actors_read', {'id': actor.id}) }}">
                                <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ actor.name }}</h6>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}