textarea 
{
    width: 100%;
}

.badgebox
{
    opacity: 0;
}

.badge
{
    background-color: white;
    color: black;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}

input[type=text]
{
    width: 98%;
}

#series_releaseDate
{
    width: 98%;
} 